.flCFEB {
    background: linear-gradient(rgba(29, 29, 27, 0) 66.15%, rgb(29, 29, 27) 95.83%) center center / cover, linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/ZbGRVHtC/IMG-5169.png) no-repeat;
    background-position: center center;
}
.doUhUZ {
    background: url(https://i.postimg.cc/CSqBndL1/IMG-5-B65-ACCD55-D1-1-1.jpg) center center / cover no-repeat;
}
.jacywb {
    width: 0.5px !important;
}
.komon-1{
    box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;
}
.komon-2{
    box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;

}
.komon-3{
    display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;
}
.komon-4{
    position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;
}
.komon-5{
    max-width: 944px; width: 100%; z-index: 10;
}
.komon-5-1{
    transition: opacity 400ms ease 0s, transform 400ms ease 0s; transform: none; opacity: 1;
}
.gjTquN {
    max-width: 800px;
}
.hsuoeH {
    width: 1px;
}
@media (min-width: 728px)
{
.hsuoeH {
    width: 2px;
}}
.komon-5-2{
 transition: opacity 400ms ease 0s, transform 400ms ease 0s;
 transform: none;
 opacity: 1;
}
.komon-6{
transition: opacity 400ms ease 0s, transform 400ms ease 0s;
transform: none;
opacity: 1;
}